In [11]:
import pandas as pd
import statistics
from scipy.stats import iqr
import numpy
info1_file = '/Users/m221138/RA_plasma_metabolites/data/patient_pred_mtx_info_test.csv'
info2_file = '/Users/m221138/RA_plasma_metabolites/data/pred_mtx_info.csv'

In [2]:
info1_df = pd.read_csv(info1_file)
info2_df = pd.read_csv(info2_file)

main_dict = {}
mcID_list = []
dose_dict = {}

In [3]:
info1_df

      patientID     mcID  visit  mtx pred
0   ST-00435597  2556858      1  yes   no
1   ST-00287851  2603407      2  yes   no
2   ST-00329527  2690869      1  yes  yes
3   ST-00356509  3030714      1   no   no
4   ST-00058750  3672727      1   no   no
5   ST-00290771  3977639      2   no  yes
6   ST-00717157  4194102      1  yes   no
7   ST-00079522  4445004      1   no  yes
8   ST-00717455  5263398      1  yes   no
9   ST-00621700  6346035      2   no  yes
10  ST-00637791  7313947      1  yes   no
11  ST-00732623  7342418      2  yes   no

In [4]:
info2_df

,Mayo Clinic #,Visit Description,methotrexate,Dose of methotrexate: mg/week (00.0 to 25.0),Current medication: Prednisone,Current prednisone dose - mg/day (0 to 100)
0,3934846.0,1,no,NaN,no,NaN
1,3934846.0,2,no,NaN,no,NaN
2,7371882.0,1,yes,17.5,no,NaN
3,7371882.0,2,yes,15.0,no,NaN
4,6030991.0,1,no,NaN,no,NaN
...,...,...,...,...,...,...
365,5405131.0,2,yes,25.0,yes,5.0
366,7432029.0,1,yes,25.0,no,NaN
367,7432029.0,2,yes,25.0,no,NaN
368,6087919.0,1,no,NaN,no,NaN
369,6087919.0,2,no,NaN,no,NaN

In [5]:
r, c = info1_df.shape
for i in range(r):
    mcID = str(info1_df.iloc[i,1])
    
    if mcID not in mcID_list:
        mcID_list.append(mcID)
    visit = info1_df.iloc[i,2]
    mtx = info1_df.iloc[i,3]
    pred = info1_df.iloc[i,4]
    
    main_dict[mcID, visit,"mtx"] = mtx
    main_dict[mcID, visit,"pred"] = pred

In [6]:
main_dict

{('2556858', 1, 'mtx'): 'yes',
 ('2556858', 1, 'pred'): 'no',
 ('2603407', 2, 'mtx'): 'yes',
 ('2603407', 2, 'pred'): 'no',
 ('2690869', 1, 'mtx'): 'yes',
 ('2690869', 1, 'pred'): 'yes',
 ('3030714', 1, 'mtx'): 'no',
 ('3030714', 1, 'pred'): 'no',
 ('3672727', 1, 'mtx'): 'no',
 ('3672727', 1, 'pred'): 'no',
 ('3977639', 2, 'mtx'): 'no',
 ('3977639', 2, 'pred'): 'yes',
 ('4194102', 1, 'mtx'): 'yes',
 ('4194102', 1, 'pred'): 'no',
 ('4445004', 1, 'mtx'): 'no',
 ('4445004', 1, 'pred'): 'yes',
 ('5263398', 1, 'mtx'): 'yes',
 ('5263398', 1, 'pred'): 'no',
 ('6346035', 2, 'mtx'): 'no',
 ('6346035', 2, 'pred'): 'yes',
 ('7313947', 1, 'mtx'): 'yes',
 ('7313947', 1, 'pred'): 'no',
 ('7342418', 2, 'mtx'): 'yes',
 ('7342418', 2, 'pred'): 'no'}

In [7]:
r,c = info2_df.shape
mtx_list = []
pred_list = []

for i in range(r):
    mcID = str(info2_df.iloc[i,0])
    mcID = mcID.replace('.0','')
    
    try: visit = int(info2_df.iloc[i,1])
    except ValueError: visit = 3
     
    mtx_status = info2_df.iloc[i,2]
    mtx_value = info2_df.iloc[i,3]
    pred_status = info2_df.iloc[i,4]
    pred_value = info2_df.iloc[i,5]

    if pred_status == "yes":
        try:
            pred_test_status = main_dict[mcID, visit, 'pred']
            if pred_test_status == "yes":
                print ('1')
                print (pred_value)
                pred_list.append(pred_value)
        except KeyError:
            None

    if mtx_status == "yes":
        try:
            mtx_test_status = main_dict[mcID, visit, 'mtx']
            if mtx_test_status == "yes":
                mtx_list.append(mtx_value) 
        except KeyError:
            None

1
5.0
1
5.0
1
5.0
1
5.0

In [8]:
print (len(mtx_list))
print (mtx_list)

print (len(pred_list))
print (pred_list)

7
[20.0, 25.0, 12.5, 25.0, 22.5, 25.0, 15.0]
4
[5.0, 5.0, 5.0, 5.0]

In [13]:
print ("MTX")
print ("size:", len(mtx_list))
print (statistics.median(mtx_list))
print(iqr(mtx_list, rng=(25,75), interpolation='midpoint'))
print ("1st qt: ",numpy.quantile(mtx_list, .25))
print ("3rd qt: ",numpy.quantile(mtx_list, .75))

print ("PRED")
print ("size:", len(pred_list))
# print (pred1_list)
print (statistics.median(pred_list))
print(iqr(pred_list, rng=(25,75), interpolation='midpoint'))
print ("1st qt: ",numpy.quantile(pred_list, .25))
print ("3rd qt: ",numpy.quantile(pred_list, .75))

MTX
size: 7
22.5
7.5
1st qt:  17.5
3rd qt:  25.0
PRED
size: 4
5.0
0.0
1st qt:  5.0
3rd qt:  5.0